<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szczegóły rezerwacji</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<!-- Menu -->
<div class="top-bar">
    <a href="{% url 'cars-list' %}" class="logo">CarBooking</a>
    <div class="nav-links">
        <a href="{% url 'cars-list' %}">Lista samochodów</a>
        <a href="{% url 'user-detail' reservation.user.id %}">Profil użytkownika</a>
        <form method="post" action="{% url 'logout' %}" style="margin: 0;">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Wyloguj</button>
        </form>
    </div>
</div>

<!-- Main -->
<div class="reservation-container">
    <h1>Szczegóły rezerwacji</h1>

    <!-- Dates -->
    <div class="reservation-dates">
        <p>Początek rezerwacji: <span>{{ reservation.start_date }}</span></p>
        <p>Koniec rezerwacji: <span>{{ reservation.end_date }}</span></p>
    </div>


    <div class="reservation-content">

        <div class="car-image-container">
            {% if reservation.car.image %}
            <img src="{% static reservation.car.image %}" alt="{{ reservation.car.brand }} {{ reservation.car.model }}">
            {% else %}
            <div class="placeholder">Brak zdjęcia</div>
            {% endif %}
        </div>
        <!-- Tabela szczegółów -->
        <table class="table reservation">
            <tbody>
            <th><h2>{{ reservation.car.brand }} {{ reservation.car.model }} </h2></th>

            <tr>
                <th scope="row"><br>Typ samochodu</th>
                <td>{{ reservation.car.get_car_type_display }}</td>
            </tr>
            <tr>
                <th scope="row"><br>Typ paliwa</th>
                <td>{{ reservation.car.get_fuel_type_display }}</td>
            </tr>
            <tr>
                <th scope="row"><br>Pojemność bagażnika</th>
                <td>{{ reservation.car.trunk_size }} l</td>
            </tr>
            <tr>
                <th scope="row"><br>Liczba drzwi</th>
                <td>{{ reservation.car.doors }}</td>
            </tr>
            <tr>
                <th scope="row"><br>Liczba miejsc</th>
                <td>{{ reservation.car.seats }}</td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- Cena -->
    <div class="price-label">
        Kwota do zapłaty: {{ total_price }} zł
    </div>

    <div>
        <a href="{% url 'user-detail' reservation.user.id %}" class="btn">Powrót do rezerwacji</a>
    </div>
</div>
</body>
</html>
