<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil użytkownika - {{ object.username }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <!-- Menu -->
    <div class="top-bar">
        <a href="{% url 'cars-list' %}" class="logo">CarBooking</a>
        <div class="nav-links">
            <a href="{% url 'cars-list' %}">Lista samochodów</a>
            <a href="{% url 'user-detail' object.id %}">Profil użytkownika</a>
            <form method="post" action="{% url 'logout' %}" style="margin: 0;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Wyloguj</button>
            </form>
        </div>
    </div>

    <!-- Main -->
    <div class="user-container">
        <h1>Profil {{ object.username }}</h1>

        <h2>Rezerwacje</h2>
        <ul>
            {% for res in reservations %}
            <li>
                <div class="reservation-details">
                    <div class="reservation-info">
                        <strong>{{ res.car.name }}</strong>
                        <br> {{ res.start_date }} - {{ res.end_date }}
                    </div>
                    <div class="reservation-action">
                        <form method="POST" action="{% url 'delete-reservation' res.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Anuluj</button>
                        </form>
                        <form action="{% url 'reservation-detail' res.id %}">
                            <button class="btn btn-reservation-detail">Zobacz</button>
                        </form>
                    </div>
                </div>
            </li>
            {% empty %}
            <li>Nie masz rezerwacji</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>